body {
  /* background: radial-gradient(circle, #dbc814, #deba14, #dfac18, #df9f1e, #dd9224, #e27c32, #e16842, #db5551, #c83f6e, #a33b87, #6c4195, #004594); */
  /* background: rgb(231,205,1);
  background: radial-gradient(circle, rgba(231,205,1,1) 3%, rgba(255,175,13,1) 58%, rgba(67,59,190,1) 100%); */
  background: rgb(221,191,37);
  background: -moz-radial-gradient(circle, rgba(221,191,37,1) 33%, rgba(255,175,13,1) 70%, rgba(26,2,84,0.9332107843137255) 82%);
  background: -webkit-radial-gradient(circle, rgba(221,191,37,1) 33%, rgba(255,175,13,1) 70%, rgba(26,2,84,0.9332107843137255) 82%);
  background: radial-gradient(circle, rgba(221,191,37,1) 33%, rgba(255,175,13,1) 70%, rgba(26,2,84,0.9332107843137255) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddbf25",endColorstr="#1a0254",GradientType=1);
  margin: 0;
 
}

html, body {
  height: 100%;
}